/* page styles */
body { font-family: "Segoe UI", Frutiger,Tahoma,Helvetica,"Helvetica Neue", Arial, sans-serif; }
table {  border-collapse: collapse; }
td, th {
	text-align: center;
	border: 1px solid #ddd;
	padding:2px 5px;
}

caption {margin: 0 0 .5em; font-weight: bold; }
/* Logo */
.header {
	background: #247201 url(http://filamentgroup.com/images/headerbg-new.jpg) no-repeat bottom left;
}
#fg-logo {
	text-indent: -9999px;
	margin: 0 auto;
	width: 287px;
	height: 52px;
	background-image: url(http://filamentgroup.com/images/fg-logo-icon.png);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5){
	#fg-logo {
		background-size: 287px 52px;
		background-image: url(http://filamentgroup.com/images/fg-logo-icon-lrg.png);
	}
}
